$app-ns: "" !default;

$breakpoints: (
  "large": 970px,
  "medium": 800px,
  "small": 460px
);

//: Utility class names
$layout: (
  "block": "l-b",
  "inline": "l-i",
  "inline-block": "l-ib",
  "clear-fix": "l-cfix",
  "clear": "l-cb",
  "clear-left": "l-cl",
  "clear-right": "l-cr",
  "float-none": "l-fn",
  "float-left": "l-fl",
  "float-right": "l-fr",
  "hide": "l-hide",
  "list-flat": "l-none",
  "container": "l-wrapper",
  "content": "l-content"
);

$grid: (
  "ns": "grid",
  "columns": 12,
  "outer-margin": 10px,
  "column-gutter": 10px
);
