/**
 * Utility Classes
 */
// Begin Placeholder classes
%no-space {
  margin: 0;
  padding: 0;
}

%#{map-get($layout, content)} {
  margin: 0 auto;
  text-align: left;
}

%#{map-get($layout, hide)} {
  display: none;
  visibility: hidden;
}

%#{map-get($layout, list-flat)} {
  list-style: none;
}

%#{map-get($layout, clear-fix)} {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

%#{map-get($layout, container)} {
  text-align: center;
}

// END Placeholder classes

.#{$app-ns + map-get($layout, clear-left)} {
  clear: left;
}

.#{$app-ns + map-get($layout, clear-right)} {
  clear: right;
}

.#{$app-ns + map-get($layout, clear)} {
  clear: both;
}

.#{$app-ns + map-get($layout, float-left)} {
  float: left;
}

.#{$app-ns + map-get($layout, float-right)} {
  float: right;
}

.#{$app-ns + map-get($layout, float-none)} {
  float: none;
}

.#{$app-ns + map-get($layout, hide)} {
  @extend %#{map-get($layout, hide)};
}

.#{$app-ns + map-get($layout, inline)} {
  display: inline;
}

.#{$app-ns + map-get($layout, inline-block)} {
  display: inline-block;
}

.#{$app-ns + map-get($layout, block)} {
  display: block;
}

.#{$app-ns + map-get($layout, list-flat)} {
  @extend %#{map-get($layout, list-flat)};
  @extend %no-space;
}

.#{$app-ns + map-get($layout, clear-fix)}:after {
  @extend %#{map-get($layout, clear-fix)};
}

.#{$app-ns + map-get($layout, container)} {
  @extend %#{map-get($layout, container)};
}

.#{$app-ns + map-get($layout, content)} {
  @extend %#{map-get($layout, content)};
}
