h1 {
  font: 35px/1.1429 map-get($fonts, heading);
}

h2 {
  font: 30px/1.16667 map-get($fonts, heading);
}

h3 {
  font: 25px/1.2 map-get($fonts, heading);
}

h4 {
  font: 20px/1.25 map-get($fonts, heading);
}

h5 {
  font: 18px/1.3889 map-get($fonts, heading);
}

h6 {
  font: 16px/1.125 map-get($fonts, heading);
}

ul, ol, dl, p {
  font-size: map-get($fonts, size);
  line-height: map-get($fonts, line-height);
  margin-top: 0;
  margin-bottom: 1.5em;
}

dd, dt, li, label {
  font-size: map-get($fonts, size);
  line-height: map-get($fonts, line-height);
}

a {
  color: map-get($colors, link);
  text-decoration: none;
  &:hover {
    color: map-get($colors, link-hover);
    text-decoration: underline;
  }
  &:visited {
    color: map-get($colors, link-visited);
  }
}

address, div {
  font-size: map-get($fonts, size);
  line-height: map-get($fonts, line-height);
}

abbr {
  border-bottom: 1px dotted map-get($colors, neutral-1);
  cursor: help;
  letter-spacing: 1px;
}

b, strong, th {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

sub, sup, small {
  font-size: .65em;
}

sup {
  line-height: 0;
  vertical-align: super;
}

sub {
  line-height: 0;
  vertical-align: sub;
}

code, pre {
  font-family: map-get($fonts, code);
  font-size: map-get($fonts, size);
}

blockquote {
  background: map-get($colors, muted-2);
  border-left: 3px solid map-get($colors, muted-1);
  padding: map-get($dimensions, box-spacing);
}

/**
 * Table
 */
table {
  font-size: map-get($fonts, size);
  line-height: map-get($fonts, line-height);
  margin-bottom: 1.5em;
  width: 100%;
}

tr {
  border-bottom: 1px solid map-get($colors, muted-1);
}

td, th {
  padding: map-get($dimensions, box-spacing);
  vertical-align: top;
}

caption {
  font-weight: 700;
  padding: map-get($dimensions, box-spacing);
  text-align: center;
}

thead th {
  border-bottom: 3px solid map-get($colors, accent-1);
}

tbody {
  th {
    background: map-get($colors, muted-1);
  }
  tr:nth-child(odd) {
    background: map-get($colors, muted-2);
  }
}

tfoot td {
  text-align: center;
}

/**
 * Lists 
 */
ol {
  list-style: decimal outside;
  padding-left: 30px;
}

ul {
  list-style: disc outside;
  padding-left: 30px;
}

/**
 * Forms
 */
form {
  padding: map-get($dimensions, box-spacing) 0;
}

fieldset {
  border: 1px solid map-get($colors, muted-1);
  padding: map-get($dimensions, box-spacing);
  margin-bottom: map-get($fonts, size);
}

legend {
  font-size: map-get($fonts, size);
  padding: map-get($dimensions, box-spacing);
}

button, .btn, a.btn, input[type="submit"], input[type="reset"] {
  cursor: pointer;
  font-size: map-get($fonts, size);
  font-family: map-get($fonts, content);
  padding: map-get($dimensions, box-spacing);
  &:hover {
    text-decoration: none;
  }
}
